.form-group
  label(for="fullname") Name as appears in the movie
  input#fullname.form-control(name="fullname", type="text", value=dolls.name)
.form-group
  label(for="hair") Hair Color
  input#title.form-control(name="hair", type="text", value=dolls.hair)
.form-group
  label(for="eyes") Eye Color
  input#email.form-control(name="eyes", type="text", value=dolls.eyes)
  .form-group
  label(for="clothes") Color of clothes
  input#email.form-control(name="clothes", type="text", value=dolls.clothes)