extend layout

block content
  h1 Your Dolls
  p Here is a list of your dolls.
  p
    a#add.btn.btn-default(href="/dolls/add") Add new
  table.table
    thead
      tr
        th Name
        th Hair Color
        th Eye Color
        th Clothes
    tbody
      if dolls.length
        each doll in dolls
          tr
            td
              a(href="/dolls/#{dolls.id}") #{dolls.name}
            td #{dolls.hair}
            