extends layout

block content
  .row
    .col-lg-12
        h1 WELCOME!
         p ----------------------------
         p Click below to see your favorite Disney princesses and their movies! 
         p
        
          a.btn.btn-default.btn-lg(href="/dolls/") DISNEY PRINCESSES
     p
          a.btn.btn-default.btn-lg(href="/movies") MOVIES
         