.form-group
  label(for="fullname") Full name
  input#fullname.form-control(name="fullname", type="text", value=doll.name)
.form-group
  label(for="eyes") Eyes
  input#eyes.form-control(name="eyes", type="text", value=doll.eyes)
.form-group
  label(for="hair") Hair
  input#hair.form-control(name="hair", type="text", value=doll.hair)
 .form-group
  label(for="clothes") Clothes
  input#clothes.form-control(name="clothes", type="text", value=doll.clothes)