.form-group
  label(for="dollName") Doll 
  input#dollName.form-control(name="dollName", type="text", value=movie.name_doll)
.form-group
  label(for="name_movie") Movie
  input#name_movie.form-control(name="name_movie", type="text", value=movie.name_movie)
.form-group
  label(for="year_of_release") Year of Release
  input#year_of_release.form-control(name="year_of_release", type="text", value=movie.year_of_release)
.form-group
  label(for="production_house") Production House
  input#production_house.form-control(name="production_house", type="text", value=movie.production_house)